extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/detail.css')

block content

    div(class="detail")
        header(class="detail__header")
            div(class="header__text")
                h1(class="detail__title")=category.name
                p(class="detail__count") #{category_items.length} products

            div(class="detail__links")
                a(class="detail__link" href=`${category.url}/update`) Edit
                a(class="detail__link" href=`${category.url}/delete`) Delete

        div(class="detail__list")
            for item in category_items
                article(class="detail__article")
                    h2(class="detail__name")=item.name
                    p(class="detail__description")=item.description
                    //- p(class="detail__stock")=item.number_in_stock
                    div(class="detail__links")
                        a(class="detail__link" href=item.url) Details
                        a(class="detail__link" href=`${item.url}/update`) Edit
                        a(class="detail__link" href=`${item.url}/delete`) Delete
                    if item.size
                        ul(class="detail__sizes")
                            for size in item.size
                                li(class="detail__size")=size




