extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/global.css')
    link(rel='stylesheet' href='/stylesheets/detail.css')
    link(rel='stylesheet' href='/stylesheets/content.css')
    link(rel='stylesheet' href='/stylesheets/delete.css')
    link(rel='stylesheet' href='/stylesheets/delete.css')
    script(defer, src="/scripts/item_detail.js")

block content
    div(class="main")
        div(class="content")
            div(class="detail content__detail")
                div(class="detail__image-container")
                    if category.picture
                        img(class="detail__image" src=`/images/${category.picture.get("filename")}` alt=category.picture.get("originalname"))
                div(class="detail__details")
                    a(class="detail__type" href=`/category`) Category
                    h2(class="detail__title") #{category.name}
                    block item-info
                        p(class="detail__description") #{category.description}
                        div(class="fader hidden")
                        button(class="detail__button hidden") Read More
                        h4(class="detail__bold") Items in category:
                        div(class="detail__stock-count") #{category_items.length}
                        div(class="detail__links")
                            a(class="detail__link detail__link--edit" href=`${category.url}/update`) Edit
                            a(class="detail__link detail__link--delete" href=`${category.url}/delete`) Delete






