extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/global.css')
    link(rel='stylesheet' href='/stylesheets/detail.css')
    link(rel='stylesheet' href='/stylesheets/content.css')
    link(rel='stylesheet' href='/stylesheets/delete.css')
    link(rel='stylesheet' href='/stylesheets/hero.css')
    link(rel='stylesheet' href='/stylesheets/form.css')

block content
    form(class="form" method="POST" action="" enctype="multipart/form-data")
        div(class="main")
            div(class="content main__content")
                h2(class="content__title")=title
                div(class="detail content__detail")
                    label(class="detail__image-container detail__image-container--bordered" for="picture")
                        if category && category.picture
                            span(class="detail__instructions")
                            img(class="detail__image" src=`/images/${category.picture.get("filename")}` alt=category.picture.get("originalname"))
                        else
                            span(class="detail__instructions") Upload an image (PNG/JPG)
                            img(class="detail__image" src="")
                        input(class="detail__input" type="hidden" required name="picture" value = (category && category.picture) ? category.picture.get("originalname") : null)
                        input(class="detail__input detail__input--hidden" id="picture" type="file" max-file-size="10485760" accept="image/png, image/jpeg, /image/webp" value = (category && category.picture) ? false: true)
                    div(class="detail__details")
                        h2(class="detail__title")
                            input(class="detail__input detail__input--title" type="text" id="name" placeholder="Men's Los Angeles Lakers ISlide Black Tonal Pop Slide Sandals" required maxlength="72" name="name" value= ((item || iteminstance && iteminstance.item || category) && (item || iteminstance && iteminstance.item || category).name))
                        block item-info
                            p(class="detail__description") 
                                textarea(id="description" name="description" class="detail__textarea" required="true" placeholder="Celebrate your team and your city with the 2021/22 NBA City Edition Jerseys to rep your team in style. We also offer NBA Statement Edition jerseys for your favorite players." ) #{category && category.description}
                            div(class="detail__buttons")
                                button(class="detail__button" type="submit") Submit
                                a(class="detail__link detail__link--cancel" href=category ? category.url : "/category") Cancel
        if errors
            ul
                for error in errors
                    li!= error.msg