extends layout

block styles
  link(rel='stylesheet' href='/stylesheets/index.css')
  link(rel='stylesheet' href='/stylesheets/item.css')
  link(rel='stylesheet' href='/stylesheets/window.css')
  script(defer, src="/scripts/index.js")

block content
  div(class="hero")
    div(class="hero__content")
      div(class="hero__container")
        h2(class="hero__small") JERSEYS & FOOTWEAR NOW IN STOCK
        h1(class="hero__big") The next generation of basketball apparel is here.
        a(class="link link--red hero__link" href="/category") SHOP NOW
  div(class="main")
    div(class="content")
      div(class="content__categories")
        div(class="content__category content__category--one")
          a(href="/category/65333da238cff7ed9d851d9d" class="content__link") Accessories
        div(class="content__category content__category--two")
          a(href="/category/65333da238cff7ed9d851d9b" class="content__link") Footwear
        div(class="content__category content__category--third")
          a(href="/category/65333da138cff7ed9d851d94" class="content__link") Jerseys
      div(class="list content__arrivals")
        h2(class="list__title") New Arrivals
        div(class="underline")
        div(class="list__picker")
          button(class="list__button list__button--all list__button--selected") ALL
          button(class="list__button list__button--one") ACCESSORIES
          button(class="list__button list__button--two") FOOTWEAR
          button(class="list__button list__button--third") JERSEYS
        div(class="window")
          div(class="window__items")
            each item in all
              a(href=item.url class="item window__item" id=`${item.category.map(cat=> cat.name).join(', ').toLowerCase()}`)
                div(class="item__preview")
                  div(class="item__preview-content")
                    if item.picture
                      img(class="item__image" src=`/images/${item.picture.get("filename")}` alt=item.picture.get("originalname"))
                    else 
                      img(class="detail__image" src="/images/placeholder.png" alt="empty picture")
                    div(class="item__info")
                      div(class="item__name") #{item.name}
                      div(class="item__description item__description--shortened") #{item.description}
                      div(class="item__price") $#{item.price}
                div(class="item__window")
                  button(class="item__button") VIEW DETAILS
            div(class="hider")
        div(class="hider")
      div(class="deal-of-the-week content__deal-of-the-week")
        div(class="deal-of-the-week__content")
          div(class="deal-of-the-week__container")
            div(class="deal-of-the-week__background")
              h2(class="deal-of-the-week__title") Deal Of The Week
                br
                h3(class="deal-of-the-week__subtext") Giannis Antetokounmpo 
                  span(class="deal-of-the-week__price") $90.95
            div(class="underline")
            div(class="deal-of-the-week__timer")
              div(class="deal-of-the-week__circle")
                div(class="deal-of-the-week__count deal-of-the-week__count--day") 2
                div(class="deal-of-the-week__unit") Day
              div(class="deal-of-the-week__circle")
                div(class="deal-of-the-week__count deal-of-the-week__count--hour") 23
                div(class="deal-of-the-week__unit") Hour
              div(class="deal-of-the-week__circle")
                div(class="deal-of-the-week__count deal-of-the-week__count--min") 48
                div(class="deal-of-the-week__unit") Min
              div(class="deal-of-the-week__circle")
                div(class="deal-of-the-week__count deal-of-the-week__count--sec") 8 
                div(class="deal-of-the-week__unit") Sec
            a(href="/item/6533456799667077393e225b" class="link link--black deal-of-the-week__link") SHOP NOW
      div(class="list content__best-sellers")
        h2(class="list__title") Best Sellers
        div(class="underline")
        div(class="window")
          div(class="window__items")
            each item in best_selling
              a(href=item.url class="item window__item")
                div(class="item__preview")
                  div(class="item__preview-content")
                    if item.picture
                      img(class="item__image" src=`/images/${item.picture.get("filename")}` alt=item.picture.get("originalname"))
                    else 
                      img(class="detail__image" src="/images/placeholder.png" alt="empty picture")
                    div(class="item__info")
                      div(class="item__name") #{item.name}
                      div(class="item__description item__description--shortened") #{item.description}
                      div(class="item__price") $#{item.price}
                div(class="item__window")
                  button(class="item__button") VIEW DETAILS
            div(class="hider")