extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/detail.css')

block content

    div(class="detail")
        header(class="detail__header")
            div(class="detail__text")
                h1(class="detail__title") ID: 
                    span(class="detail__bold") #{iteminstance._id}
                p(class="detail__description") Product: 
                    span(class="detail__bold") #{iteminstance.item.name}
                if iteminstance.size
                    p(class="detail__price") Size: 
                        span(class="detail__bold") #{iteminstance.size}
                p(class="detail__description") Condition: 
                    span(class="detail__bold") #{iteminstance.condition}
                p(class="detail__description") Available: 
                    span(class="detail__bold") #{iteminstance.available}
                if iteminstance.picture
                    img(class="detail__image" src=`/uploads/${iteminstance.picture.get("filename")}`)

            div(class="detail__links")
                a(class="detail__link" href=`${iteminstance.url}/update`) Edit
                a(class="detail__link" href=`${iteminstance.url}/delete`) Delete