extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/detail.css')

block content

    div(class="detail")
        header(class="detail__header")
            div(class="header__text")
                h1(class="detail__title") #{item.name}
                p(class="detail__description") #{item.description}
                p(class="detail__price") $#{item.price}
                p(class="detail__description") Category: #{item.category.name}
                p(class="detail__count") #{item_instances.length} instances

            div(class="detail__links")
                a(class="detail__link" href=`${item.url}/update`) Edit
                a(class="detail__link" href=`${item.url}/delete`) Delete

        div(class="detail__list")
            for instance in item_instances
                article(class="detail__article")
                    h2(class="detail__name") ID: #{instance._id}
                    if instance.size
                        p(class="detail__description") Size: #{item.size}
                    p(class="detail__description") Condition: #{item.condition}
                    p(class="detail__description") Defective: #{item.defective}
                    p(class="detail__description") Available: #{item.defective}
                    //- p(class="detail__stock")=item.number_in_stock
                    div(class="detail__links")
                        a(class="detail__link" href=item.url) Details
                        a(class="detail__link" href=`${item.url}/update`) Edit
                        a(class="detail__link" href=`${item.url}/delete`) Delete