extends item_detail

block styles
    link(rel='stylesheet' href='/stylesheets/delete.css')
    link(rel='stylesheet' href='/stylesheets/detail.css')

block item-info
    div(class="delete")
        if item_instances.length 
            div(class="delete__error")

                h4(class="delete__description") Unable to delete this item.
                h4(class="delete__description") #[strong Delete the following item instances before attempting to delete this item.]

                div(class="delete__container")
                    a(href=item.url class="delete__button delete__button--cancel") Back

                ul(class="delete__list")
                each instance in item_instances
                    li(class="delete__item")
                        a(class="delete__link" href=instance.url) #{instance._id}
        else
            p(class="delete__description") Are you sure you want to delete this item? You can't undo this action.

            div(class="delete__container")
                form(class="delete__form" method='POST' action='')
                    a(href=item.url class="delete__button delete__button--cancel") Cancel
                    div(class="delete__form-group")
                        input(id="itemid" class="delete__input" type="hidden" name="itemid" required="true" value=item._id)
                    if item._id.toString() === "6533456799667077393e225b"
                        button(class="delete__button delete__button--confirm" disabled type="submit") Delete
                        p(class="delete__description") You cannot delete this special category
                    else
                        button(class="delete__button delete__button--confirm" type="submit") Delete
