extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/detail.css')

block content
    div(class="detail")
        header(class="detail__header")
            div(class="detail__text")
                h1(class="detail__title") Items
                p(class="detail__description") A list of all items in the application
        div(class="detail__list")
            if item_list.length > 0
                for item in item_list
                    article(class="detail__article")
                        h2(class="detail__name")=item.name
                        p(class="detail__description")=item.description
                        if item.picture
                            img(class="detail__image" src=`/images/${item.picture.get("filename")}` alt=item.picture.get("originalname"))
                        div(class="detail__links")
                            a(class="detail__link" href=item.url) Details
                            a(class="detail__link" href=`${item.url}/update`) Edit
                            a(class="detail__link" href=`${item.url}/delete`) Delete
            else
                li There are no items in this application