extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/form.css')

block content

    h1=title

    section(class="form")
        form(class="form__form" method="POST" action="")
            div(class="form__group")
                label(class="form__label" for='name') Name:
                input(id="name" name="name" class="form__control" required="true" placeholder="Men's Los Angeles Lakers ISlide Black Tonal Pop Slide Sandals" value=(item && item.name))
            div(class="form__group")
                label(class="form__label" for='category') Category:
                div
                    for category in categories
                        div
                            input(class="form__checkbox" type="checkbox" name="category" id=category._id, value=category._id, checked=category.checked)
                            label(for=category._id) #{category.name}
            div(class="form__group")
                label(class="form__label" for='price') Price:
                input(type="number" id="price" name="price" class="form__control" step="0.01" min="0" required="true" placeholder="39.99" value=(item && item.price))
            div(class="form__group")
                label(class="form__label" for='size') Sizes (optional, seperate sizes by one space):
                input(id="size" name="size" class="form__control" placeholder="S M L XL 2XL" value=(item && item.size))
            div(class="form__group")
                label(class="form__label" for='description') Description
                textarea(id="description" name="description" class="form__textarea" required="true" placeholder="Show off your team spirit when you get these Los Angeles Lakers Tonal Pop Slide Sandals from ISlide." ) #{item && item.description}
            button(class="form__button" type="submit") SUBMIT

        if errors
            ul
                for error in errors
                    li!= error.msg