extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/form.css')

block content

    h1=title

    section(class="form")
        form(class="form__form" method="POST" action="")
            div(class="form__group")
                label(class="form__label" for='name') Name:
                input(id="name" name="name" class="form__control" required="true" placeholder="Name of item" value=(item && item.name))
            div(class="form__group")
                label(class="form__label" for='category') Category:
                select(id="category" type="select" name="category" class="form__control" required="true" placeholder="Category of item")
                    - categories.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                    for category in categories
                        if item
                            option(value=category._id selected=(category._id.toString()==item.category._id || category._id.toString() == item.category) ? "selected" : false) #{category.name}

                        else
                            option(value=category._id ) #{category.name}
            div(class="form__group")
                label(class="form__label" for='price') Price:
                input(type="number" id="price" name="price" class="form__control" min="0" required="true" placeholder="Price of item" value=(item && item.price))
            div(class="form__group")
                label(class="form__label" for='number_in_stock') Number In Stock:
                input(type="number" id="number_in_stock" name="number_in_stock" min="0" class="form__control" required="true" placeholder="Stock of item" value=(item && item.number_in_stock))
            //- div(class="form__group")
            //-     label(class="form__label" for='sizes') Sizes (Optional):
            //-     input(type="number" id="sizes" name="sizes" class="form__control" placeholder="Stock of item")
            div(class="form__group")
                label(class="form__label" for='description') Description
                textarea(id="description" name="description" class="form__textarea" required="true" placeholder="Description of item" ) #{item && item.description}
            button(class="form__button" type="submit") SUBMIT

        if errors
            ul
                for error in errors
                    li!= error.msg