extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/delete.css')

block content

    if item_instances.length 
        div(class="error")
            h1(class="error__title") #{title}: #{item.name}

            p(class="error__description") #[strong Delete the following item instances before attempting to delete this item.]

            ul(class="error__list")
            each instance in item_instances
                li(class="error__item")
                    a(class="error__link" href=instance.url) #{instance._id}
    else
        div(class="delete")
            div(class="delete__container")
                h2(class="delete__header") Delete item?

                p(class="delete__description") Are you sure you want to delete "#[strong #{item.name}]"
                p(class="delete__description") You can't undo this action.

                form(method='POST' action='')
                    div(class="form__group")
                        input(id="itemid" class="form__control" type="hidden" name="itemid" required="true" value=item._id)

                    button(class="form__button" type="submit") Delete
