extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/window.css')
    link(rel='stylesheet' href='/stylesheets/item.css')

block content 
    div(class="main")
        div(class="content")
            h2(class="content__title") #{title}
            div(class="underline")
    div(class="window")
        div(class="window__items")
            if item_list.length > 0
                each item in item_list
                    a(href=`${item.url}` class="item window__item")
                        div(class="item__preview")
                            div(class="item__preview-content")
                                if item.picture
                                    img(class="item__image" src=`/images/${item.picture.get("filename")}` alt=item.picture.get("originalname"))
                                else 
                                    img(class="item__image" src="/images/placeholder.png" alt="empty picture")
                                div(class="item__info")
                                    div(class="item__name") #{item.name}
                                    div(class="item__description item__description--shortened") #{item.description}
                        div(class="item__window")
                            button(class="item__button") VIEW DETAILS
            else
                li There are no categories in this application
