extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/detail.css')

block content

    div(class="detail")
        header(class="detail__header")
            div(class="detail__text")
                h1(class="detail__title") ID: #{iteminstance._id}
                p(class="detail__description") Product: #{iteminstance.item.name}
                if iteminstance.size
                    p(class="detail__price") Size: #{iteminstance.size}
                p(class="detail__description") Condition: #{iteminstance.condition}
                p(class="detail__description") Available: #{iteminstance.available}

            div(class="detail__links")
                a(class="detail__link" href=`${iteminstance.url}/update`) Edit
                a(class="detail__link" href=`${iteminstance.url}/delete`) Delete