extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/form.css')

block content

    h1=title

    section(class="form")
        form(class="form__form" method="POST" action="")
            div(class="form__group")
                label(class="form__label" for='item') Item:
                select(id="item" name="item" class="form__control" required="true")
                    for item, index in item_list
                        option(value=item._id) #{item.name}
            div(class="form__group")
                    label(class="form__label" for='size') Size
                    select(id="size" name="size" class="form__control" required="true")
                            if item_list[0].size 
                                each size in item_list[0].size.split("  ")
                                    option(value=size) #{size}
            div(class="form__group")
                label(class="form__label" for='condition') Condition
                select(id="condition" name="condition" class="form__control" required="true")
                    option(value="New") New
                    option(value="Open Box") Open Box
                    option(value="Used") Used
                    option(value="Refurbished") Refurbished
                    option(value="For parts or not working") For parts or not working
            div(class="form__group")
                label(class="form__label" for='available') Available
                select(id="available" name="available" class="form__control" required="true")
                    option(value="Yes") Yes
                    option(value="No") No
            button(class="form__button" type="submit") SUBMIT

        if errors
            ul
                for error in errors
                    li!= error.msg

    script.
        const itemDropdown = document.querySelector("#item");

        let currentIndex = 0;

        itemDropdown.addEventListener("change", (event) => {

            const sizeDropdown = document.querySelector("#size");
            const itemList = !{JSON.stringify(item_list)};

            sizeDropdown.options.length = 0;
            currentIndex = itemDropdown.selectedIndex;

            const currentItem = itemList[currentIndex];

            let sizeIndex = 0;

            if(currentItem.size)  {
                const splitCurrentItemSize = currentItem.size.split("  ");
                while(sizeDropdown.options.length != splitCurrentItemSize.length) {
                    const option = document.createElement("option");
                    option.value = splitCurrentItemSize[sizeIndex];
                    option.textContent = splitCurrentItemSize[sizeIndex];
                    sizeIndex++;
                    sizeDropdown.append(option);
                }
            }
        })